colorlog==6.10.1
pycares>=4.9.0,<6 # Fix for missing ares_query_a_result, see aiodns 3.6.1
homeassistant==2025.12.4
pip>=21.3.1
numpy==2.4.1
bumpver>=2024.1130
ruff==0.14.11
chardet==5.2.0
debugpy==1.8.19
zlib_ng==1.0.0
isal==1.8.0
